.lll{
    float: left;
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lll img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.founder{
    height: 100vh;
    /* position: relative; */
}
.rrr{
    /* position: relative; */
    float: left;
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 2rem;
}
.rrr p{
    font-size: 100%;
}

@media screen and (max-width: 768px) {
    .founder{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .lll{
        all:unset;
        margin-top: 3rem;
    }
    .lll > h1{
        padding-block: .3rem;
    }
    .rrr{
        all:unset;
        padding-inline: 2rem;
    }
    .rrr > h1{
        padding-bottom: 1rem;
    }
    .rrr > p{
        text-align: justify;
    }
}