.scp{
    height: 150vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sc-card{
    width: min-content;
    position: sticky;
    z-index: 50;
    height: 100vh;
    justify-content: center;
    position: absolute;
    background-color: #FAFAFA;
    /* border: 2px solid black; */
    box-shadow: 0px 4px 7px 0px #00000040;

}
.hh{
    width: 60vw;
    height: 15vh;
    margin-top: 5vh;
}
.ll{
    float: left;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: end;
}
.rr{
    float: left;
    width: 35vw;
    height: 15vh;
    padding-left: 1em;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.cen{
    width: 50vw;
    text-align: center;
    margin-top: 7vh;
    margin-left: 5vw;
}
.blue-box{
    width: 50vw;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    color: white;
    background: linear-gradient(90.89deg, #3797F4 -4.47%, #49E5E9 100%);
    margin-top: 5vh;
    margin-left: 5vw;
}
.grey-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 25vw;
    border-radius: 1.5em;
    background-color: #F3F3F3;
    display: inline-block;
}
.grey-button a{
    text-decoration: none;
    color: black;
}
.l{
    position: absolute;
    z-index: 100;
    left: 0;
    width: auto;
    
    top:20vh;
    /* transform: translate(-80%,-110%); */
}
.r{
    position: absolute;
    right: 0;
    /* z-index: -150; */
    /* transform: translate(70%,-15%); */
    /* right: 0%; */
    /* width: auto; */
    /* height: 100%; */
}

.img-for-club-left,.img-for-club-right{
    width: 30vw;
    aspect-ratio: 6/13;
}
.img-for-club-left{
    position: absolute;
    top:0;
}

@media screen and (max-width: 768px) {
    .l,.r{
        display: none;
    }
    .grey-button{
        margin-left: unset;
    }
    .hh,.ll,.rr,.cen,.sc-card ,.scp{
        all:unset;
    }
    .hh{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: 2rem;
    }
    .rr > h1{
        font-size: larger;
        font-weight: 800;
    }
    .rr > h4{
        font-size: large;
        font-weight: 600;
    }
    .cen > p{
        padding-inline: 2rem;
        text-align: justify;
        
    }
    .cen{
        display: flex;
        align-items: center;
    }
    .blue-box{
        margin: 2rem;
        width:auto;
    }
    .blue-box > p{
        font-weight: 700;
        margin: 0%;
    }
    .grey-button{
        text-align: center;
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
    }
}

/* 
Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
 */
@media screen and (min-width: 1280px) {
    .r{

    }

    .l{
        
    }
}
