footer{
    /* If used under a page with less than 100 vh please uncomment this */
    /* position: fixed;
    bottom: 0%; */
    height: 20rem;
    background-color: rgb(28, 29, 26);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    gap: 1rem;
    margin-top:2rem;
}
footer > h1{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .3ch;
}
footer > h4{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3ch;
}

footer > nav {
    display: flex;
    gap: 2rem;
}
.img-flex{
    display: flex;
    gap: 1rem;
}

.img-flex > div{
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 2rem;
}
.img-flex > div > img,.img-flex > div > svg {
    aspect-ratio: 1/1;
    height: 1.2rem;
    width: 1.2rem;
}
footer > p{
    text-align: center;
    max-width: 40rem;
}

.linkss{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    footer{
        width: 100%;
    }
}